
.footer {
    background-color: #2C2C54;
    color: #fff;
    padding: 40px 20px;
    box-sizing: border-box;
  width: 100%; 
 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
  }
  
  .footer-section {
    flex: 1 1 20%;
    margin: 10px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 16px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto 0;
   

  }
  
  .footer-logo {
    height: 102px;
    /* width: 60px; */
    mix-blend-mode: lighten;
    margin: 0 20px; 
  }
  
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-nav a {
    color: #fff;
    margin: 0 10px;
    font-size: 16px;
    text-decoration: none;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }
  

  @media (max-width: 768px) {
    .footer-content {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .footer-section {
        flex: 1 1 100%;
        margin: 10px 0; 
    }

    .footer-bottom {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-logo {
        margin: 20px 0; 
    }

    .footer-nav {
        justify-content: center; 
    }

    .footer-nav a {
        margin: 5px 10px; 
    }
}

@media (max-width: 480px) {
    .footer-section h4 {
        font-size: 16px;
    }

    .footer-section p {
        font-size: 14px; 
    }

    .social-icons a {
        font-size: 18px; 
    }

    .footer-nav a {
        font-size: 14px; 
    }
}