

  .upload-container {
    margin-bottom: 50px; /* Adjust this value as needed */
  }
  .required {
    color: red; /* Style for the required sign */
  }

  .upload-heading {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0 auto 20px auto; /* Center align with auto margins */
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
  }

  @media (max-width: 768px) {
    .upload-heading {
      width: 70%;
    }
  }
  
  @media (max-width: 576px) {
    .upload-heading {
      width: 90%;
    }
  
    .upload-container {
      padding: 0 10px; 
    }
  
    .form-group {
      margin-bottom: 15px; 
    }
  
    .form-control {
      font-size: 14px; 
    }
  
    .btn {
      font-size: 14px;
      padding: 10px; 
    }
  }