

.about-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Open Sans, sans-serif;
    
  }
  
  .about-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-section {
    flex-basis: 40%;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; /* Add transition effect */
  }
  
  
  .about-section:hover {
    box-shadow: 0 0 30px #1A237E; /* Neon glow effect */
  }
  .about-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #337ab7;
    margin-bottom: 10px;
  }
  
  .about-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }
  
  .about-section a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .about-section a:hover {
    text-decoration: underline;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .about-container {
      padding: 20px;
      margin: 20px;
    }
  
    .about-header h1 {
      font-size: 28px;
    }
  
    .about-section {
      flex-basis: 100%;
      margin: 10px 0;
    }
  
    .about-section h2 {
      font-size: 22px;
    }
  
    .about-section p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .about-header h1 {
      font-size: 24px;
    }
  
    .about-section h2 {
      font-size: 20px;
    }
  
    .about-section p {
      font-size: 13px;
    }
  }